@font-face {
    font-family: "WorkSans";
    src: url(WorkSans-Regular.ttf);
}
@font-face {
    font-family: "WorkSans";
    src: url(WorkSans-Medium.ttf);
    font-size: 500;
}
@font-face {
    font-family: "WorkSans";
    src: url(WorkSans-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "WorkSans";
    src: url(WorkSans-Light.ttf);
    font-size: 300;
}
@font-face {
    font-family: "Merriweather";
    src: url(Merriweather-Regular.ttf);
}
@font-face {
    font-family: "Merriweather";
    src: url(Merriweather-Light.ttf);
    font-size: 300;
}