@import url(../fonts/fonts.css);

:root {
    --font-family: "WorkSans";
    --second-family: "Merriweather";
    --color-rich-greenish-blue: #006d77;
    --color-black: #101828;
    --color-white: #fff;
    --color-grey: #98a2b3;
    --color-grey-desc: #475467;
    --color-apricot: #FFDDD2;
    --color-text: #323a4b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* header */

.button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 162%;
    text-align: center;
    color: var(--color-white);
    padding: 13px 22px;
    border-radius: 10px;
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    text-decoration: none;
}

.navbar__button--rounding {
    border-radius: 47px;
}

.list {
    display: flex;
    align-items: center;
}

.navbar__list {
    width: 45vw;
    transition: 300ms;
    margin-top: 20px;
    padding-left: 1rem;
}

.navbar__menu-mobile {
    display: none;
}

.navbar__link {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.04em;
    color: var(--color-black);
}

.logo {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 118%;
    color: var(--color-black);
    text-decoration: none;
    transition: 300ms;
}

.logo span {
    margin-left: 9px;
}

.navbar__menu-mobile-button {
    background-color: var(--color-black) !important;
    font-family: var(--font-family) !important;
    font-weight: 500;
}

.header__list {
    width: 300px;
    padding-left: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
}

.navbar__list--add-space-between,
.header__list--add-space-between {
    justify-content: space-between;
}

.header__button--light {
    border: none;
    color: var(--color-black);
    background-color: var(--color-white);
}

.top-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 217%;
}

.header__top-text--increase-size {
    font-weight: 600;
    font-size: 25px;
    line-height: 104%;
}

.header__top-text {
    color: var(--color-grey);
    margin-bottom: 42px;
}

.title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: var(--color-black);
    margin: auto;
}

.header__title--left {
    text-align: left;
}

.header__title {
    width: 571px;
}

.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.04em;
    color: var(--color-grey-desc);
}

.header__title-desc {
    width: 521px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header__content {
    margin-top: 80px;
    display: flex;
}

.header__project-info-num {
    font-weight: 600;
    font-size: 30px;
    line-height: 87%;
    color: var(--color-black);
}

.header__project-info-desc {
    font-weight: 500;
    font-size: 16px;
    color: #66728b;
    margin-bottom: 0;
}

.header__project-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.header__stats-project-worker {
    margin-left: 42px;
}

.header__stats {
    margin-top: 57px;
}

.header__content-right {
    width: 100%;
    position: relative;
}

.header__right-watch {
    position: absolute;
    right: 22%;
    bottom: 6%;
}

.header__right-stats {
    position: absolute;
    right: -1.7%;
    bottom: -10%;
}

.header__right-circle1,
.header__right-circle2,
.header__right-circle3 {
    position: absolute;
    display: grid;
    border-radius: 50%;
}

.header__right-circle1,
.header__right-circle3 {
    width: 49px;
    height: 49px;
}

.header__right-circle2 {
    width: 69px;
    height: 69px;
}

.header__right-circle1,
.header__right-circle2 {
    background-color: var(--color-apricot);
}

.header__right-circle3 {
    background-color: #beffe6d9;
    right: 24%;
}

.header__right-circle2 {
    bottom: 66%;
    left: 5%;
}

.header__right-circle1 {
    bottom: 5%;
    right: 75%;
}

.main {
    margin-top: 122px;
}

.special-menu {
    justify-content: space-between;
}

.special__box {
    align-items: center;
    border: 1px solid #e4e7ec;
    border-radius: 6px;
    width: 350px;
    height: 125px;
}

.special__pic1 {
    width: 84px;
    height: 63px;
    margin-left: 19px;
    margin-right: 4px;
}

.special__pic2 {
    width: 59px;
    height: 78px;
    margin-left: 19px;
    margin-right: 4px;
}

.special__pic3 {
    width: 74px;
    height: 86px;
    margin-left: 19px;
    margin-right: 4px;
}

.special__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    color: var(--color-text);
}

.special__price {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 162%;
    color: var(--color-black);
}

.title--reduction-width {
    margin-top: 100px;
    width: 455px;
    margin-bottom: 57px;
}

.menu {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    gap: 30px;
    margin: auto;
}

.menu__content--redesign {
    padding: 0px 13px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 217%;
    text-align: center;
    color: var(--color-rich-greenish-blue);
    background-color: #BEE1E6;
    border: none;
    border-radius: 6px;
    width: 67px;
    height: 23px;
}

.menu__price-and-button {
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 29px;
}

.menu__content {
    width: 255px;
    border: 1px solid #e4e7ec;
    border-radius: 6px;
    box-shadow: 0 0 1px 1px rgba(228, 231, 236, 0.15);
    padding: 10px;
}

.menu__content-price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: var(--color-rich-greenish-blue);
}

.menu__content-img {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu__content-title--redesign {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    color: var(--color-text);
    text-align: start;
}








@media (hover: hover) {
    .logo:hover {
        color: var(--color-rich-greenish-blue);
    }

    .navbar__link:hover {
        color: var(--color-rich-greenish-blue);
    }
}

@media (hover: none) {
    .logo:active {
        color: var(--color-rich-greenish-blue);
    }

    .navbar__link:active {
        color: var(--color-rich-greenish-blue);
    }
}

@media (max-width:1200px) {

    .header__right-circle1,
    .header__right-circle2,
    .header__right-circle3 {
        display: none;
    }

    .special__title {
        font-size: 14px;
    }
}

@media (max-width:992px) {
    .header__title {
        font-size: 35px;
        width: 400px;
    }

    .header__right-watch {
        width: 69%;
        bottom: 50%;
        right: 10%;
    }

    .header__right-stats {
        bottom: -6%;
    }

    .header__title-desc {
        width: 397px;
    }

    .special__title {
        font-size: 12px;
    }
}

@media (max-width:768px) {
    .button {
        padding: 8px 12px;
    }

    .navbar__list {
        display: none;
    }

    .navbar__menu-mobile {
        display: grid;
    }

    .header__right-stats {
        bottom: 4%;
        width: 160%;
        right: -22%;
    }

    .header__title-desc {
        font-size: 14px;
        width: 300px;
    }

    .header__right-watch {
        width: 100%;
        bottom: 44%;
        right: 30%;
    }

    .special-menu {
        flex-wrap: wrap;
    }

    .special__box {
        width: 250px;
    }

    .special__box-mobile {
        margin: 15px auto auto auto;
    }

    .special__title {
        font-style: 13px;
    }
}

@media (max-width:576px) {

    .header__right-watch,
    .header__right-stats {
        display: none;
    }

    .special-menu {
        justify-content: space-around;
    }
}

@media (max-width:524px) {
    .special__box-mobile {
        margin: 0;
    }

    .special__box {
        margin-top: 10px;
    }
}